.burger-navigation {
    position: fixed;
    z-index: 99;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    .burger-navigation-overlay {
        position: fixed;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(4, 16, 28, 0.7);
    }

    .burger-navigation-container {
        position: relative;
        z-index: 1;

        width: 100%;
        max-width: 320px;

        height: 100%;

        padding: 30px 0;

        background: $white;
        -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.1);

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: $lightgray;
        }
        &::-webkit-scrollbar-thumb {
            background: $blue;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $blueHover;
        }

        .burger-navigation-block {
            width: 100%;
            margin-bottom: 30px;

            .burger-navigation-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                padding: 0 30px;

                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 160px;
                    height: 40px;

                    border-radius: 10px;
                    background: $blue;

                    font-weight: 500;
                    color: #fff;
                }

                .burger-close {
                    .icon {
                        cursor: pointer;
                        background: $gray;

                        &:hover {
                            background: $blueHover;
                        }
                    }
                }
            }

            ul.burger-nav {
                list-style: none;
                margin-bottom: 0;

                li.burger-nav-item {
                    &:first-child {
                        a.burger-nav-link {
                            border-top: 1px solid $lightgray;
                        }
                    }

                    .burger-nav-link {
                        cursor: pointer;
                        position: relative;

                        display: flex;
                        align-items: center;

                        width: 100%;
                        padding: 15px 30px;

                        font-size: 14px;
                        line-height: 20px;

                        font-weight: 500;
                        color: $black;

                        border-bottom: 1px solid $lightgray;

                        transition: 0.1s ease;

                        .icon {
                            width: 18px;
                            height: 18px;

                            margin-right: 12px;
                            background: $blue;

                            transition: 0.1s ease;
                        }

                        &:hover {
                            background: $sidebarHover;
                            color: $blueHover;

                            .icon {
                                background: $blueHover;
                            }
                        }

                        &.active {
                            background: #f8f8f8;
                            color: $blue;

                            &:hover {
                                background: $sidebarHover;
                                color: $blueHover;
                            }
                        }

                        &.with-arrow {
                            &::after {
                                content: '';
                                position: absolute;
            
                                width: 12px;
                                height: 12px;
            
                                right: 30px;
                                
                                background: $blue;
            
                                mask: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.17405 6.59406L4.01424 11.7537C3.68601 12.0821 3.15385 12.0821 2.82578 11.7537C2.49769 11.4256 2.49769 10.8935 2.82578 10.5654L7.39142 5.99991L2.82591 1.43457C2.49782 1.10635 2.49782 0.574263 2.82591 0.24617C3.15401 -0.0820565 3.68615 -0.0820565 4.01437 0.24617L9.17419 5.4059C9.33823 5.57002 9.42016 5.7849 9.42016 5.99989C9.42016 6.21498 9.33807 6.43002 9.17405 6.59406Z' fill='%23004F98'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                                mask-size: contain;
                                mask-position: center;
                                mask-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}

// burgermenu animation
.burgermenu-animation-enter {
    .burger-navigation-overlay {
        opacity: 0;
        transition: opacity 300ms;
    }
    .burger-navigation-container {
        transform: translateX(-320px);
        transition: transform 400ms;
    }
}

.burgermenu-animation-enter-active {
    .burger-navigation-overlay {
        opacity: 1;
    }
    .burger-navigation-container {
        transform: translateX(0);
    }
}

.burgermenu-animation-exit {
    .burger-navigation-overlay {
        opacity: 1;
    }
    .burger-navigation-container {
        transform: translateX(0);
    }
}

.burgermenu-animation-exit-active {
    .burger-navigation-overlay {
        opacity: 0;
        transition: opacity 300ms;
    }
    .burger-navigation-container {
        transform: translateX(-320px);
        transition: transform 400ms;
    }
}
