.sort-block {
    label {
        margin-right: 5px;
        color: $gray;
    }

    select {
        width: auto;
        height: 36px;

        font-weight: 400;
        color: $black;

        border-radius: 5px;
        border: 1px solid $lightgray;
        
    }
}