.subcategory-block {
    width: 14.2857%;
    padding: 40px 20px;
    border-right: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;

    text-align: center;
    transition: 0.1s ease;

    &:hover {
        position: relative;
        z-index: 2;
        border-bottom: 1px solid $blueHover;
    }

    .subcategory-image {
        margin-bottom: 15px;

        img {
            height: 70px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .subcategory-title {
        a {
            color: $black;

            &:hover {
                color: $blueHover;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .subcategory-block {
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .subcategory-block {
        width: 33.33%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .subcategory-block {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .subcategory-block {
        width: 20%;
    }
}