.subcategory-block {
    width: 14.2857%;
    padding: 40px 20px;
    border-right: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;

    text-align: center;
    transition: 0.1s ease;

    &:nth-last-of-type(-n + 7) {
        border-bottom: 1px solid transparent;
        
        &:hover {
            border-bottom: 1px solid $blueHover;
        }
    }

    &:nth-child(7n) {
        border-right: 0
    } 

    &:hover {
        border-bottom: 1px solid $blueHover;
    }

    .subcategory-image {
        margin-bottom: 15px;

        img {
            height: 70px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .subcategory-title {
        a {
            color: $black;

            &:hover {
                color: $blueHover;
            }
        }
    }
}