.subcategory-block {
    width: 14.28%;
    padding: 20px;
    border-right: 1px solid $lightgray;
    text-align: center;

    .subcategory-image {
        margin-bottom: 15px;

        img {
            height: 70px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .subcategory-title {
        a {
            color: $black;

            &:hover {
                color: $blueHover;
            }
        }
    }
}