.catalog-navigation {
    position: fixed;
    z-index: 99;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    .catalog-navigation-overlay {
        position: fixed;

        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;    

        background: rgba(4, 16, 28, 0.7);
    }

    .catalog-navigation-container {
        display: flex;
        flex-wrap: nowrap;

        width: 100%;
        height: 100%;

        .catalog-navigation-block {
            position: relative;
            z-index: 1;
    
            padding: 30px 0;

            width: 320px;
            height: 100%;

            background: $white;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: $lightgray;
            }
            &::-webkit-scrollbar-thumb {
                background: $blue;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $blueHover;
            }

            .catalog-navigation-block-title {
                padding: 0 30px;

                font-size: 18px;
                line-height: 24px;

                color: $blue;
                font-weight: 500;

                margin-bottom: 20px;
            }

            ul.catalog-nav {
                list-style: none;
                margin-bottom: 0;

                li.catalog-nav-item {
                    &:first-child {
                        .catalog-nav-link {
                            border-top: 1px solid $lightgray;
                        }
                    }

                    .catalog-nav-link {
                        cursor: pointer;
                        position: relative;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
        
                        width: 100%;
                        min-width: 316px;
                        padding: 15px 30px;
        
                        font-size: 14px;
                        line-height: 20px;

                        font-weight: 500;
                        color: $black;
        
                        border-bottom: 1px solid $lightgray;

                        transition: 0.1s ease;
        
                        .catalog-nav-link-title {
                            display: flex;
                            align-items: center;
                            padding-right: 12px;
                        
                            .icon {
                                width: 18px;
                                height: 18px;
            
                                margin-right: 12px;
                                background: $blue;

                                transition: 0.1s ease;
                            }            
                        }

                        .catalog-nav-link-actions {
                            display: flex;
                            align-items: center;

                            .catalog-nav-link-action {
                                cursor: pointer;
                                margin-right: 10px;

                                .icon {
                                    width: 12px;
                                    height: 12px;
                
                                    background: $blue;
                                    transition: 0.1s ease;
                                }         
                                
                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    .icon {
                                        background: $blueHover;
                                    }
                                }

                            }
                        }

                        &:hover {
                            background: $sidebarHover;
                            color: $blueHover;

                            .icon {
                                background: $blueHover;
                            }
                        }

                        &.chosen {
                            background: #f5f5f5;
                            color: $blueHover;

                            .icon {
                                background: $blueHover;
                            }

                            .catalog-nav-link-actions {
                                .catalog-nav-link-action {
                                    .icon {
                                        background: $blueHover;
                                    }
                                }
                            }

                            &:hover {
                                background: #f0f0f0;
                            }
                        }
                    }
                }
            }

            &.previous {
                background: #f5f5f5;
                transition: width 0.4s ease;

                ul.catalog-nav {
                    li.catalog-nav-item {
                        .catalog-nav-link {
                            &:hover {
                                background: $white;
                            }

                            &.chosen {
                                background: $blue;
                                color: $white;
    
                                .icon {
                                    background: $white;
                                }
    
                                .catalog-nav-link-actions {
                                    .catalog-nav-link-action {
                                        .icon {
                                            background: $white;
                                        }
                                    }
                                }
    
                                &:hover {
                                    background: $blueHover;
                                }
                            }
                        }
                    }
                }
            }

            &.hidden {
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 50px;
                background: $darkblue;
                border-left: 1px solid $transparent;

                transition: width 0.4s ease;

                &:hover {
                    background: $blue;
                }

                .catalog-navigation-block-title {
                    color: $white;
                    transform: rotate(-90deg);
                }

                ul.catalog-nav {
                    display: none;
                }
            }
        }
    }
}

// catalog-navigation animation
.catalog-navigation-animation-enter {
    .catalog-navigation-overlay {
        opacity: 0;
        transition: opacity 300ms;
    }
    .catalog-navigation-block {
        opacity: 0;
        transform: translateX(-320px);
        transition: opacity 500ms, transform 500ms;
    }
}

.catalog-navigation-animation-enter-active {
    .catalog-navigation-overlay {
        opacity: 1;
    }
    .catalog-navigation-block {
        transform: translateX(0);
        opacity: 1;
    }
}

.catalog-navigation-animation-exit {
    .catalog-navigation-overlay {
        opacity: 1;
    }
    .catalog-navigation-block {
        transform: translateX(0);
        opacity: 1;
    }
}

.catalog-navigation-animation-exit-active {
    .catalog-navigation-overlay {
        opacity: 0;
        transition: opacity 300ms;
    }
    .catalog-navigation-block {
        opacity: 0;
        transform: translateX(-320px);
        transition: opacity 500ms, transform 500ms;
    }
}


// catalog-navigation subcategory animation
.catalog-navigation {
    .catalog-navigation-container {
        .catalog-navigation-block {
            &.catalog-navigation-subcategory-animation-enter {
                opacity: 0;
                transform: translateX(-320px);
                transition: opacity 500ms, transform 500ms;
            
                position: relative;
                z-index: 0;
            }
            
            &.catalog-navigation-subcategory-animation-enter-active {
                transform: translateX(0);
                opacity: 1;
            
                position: relative;
                z-index: 0;
            
            }
            
            &.catalog-navigation-subcategory-animation-exit {
                transform: translateX(0);
                opacity: 1;
            
                position: relative;
                z-index: 0;
            }
            
            &.catalog-navigation-subcategory-animation-exit-active {
                opacity: 0;
                transform: translateX(-320px);
                transition: opacity 500ms, transform 500ms;
            
                position: relative;
                z-index: 0;
            }
        }
    }
} 

