$bodyBackground: #F0F0F0;

$black: #000;

$darkblue: #072F55;
$blue: #004F98;
$blueHover: #0367C3;

$darkgray: #666;
$gray: #999;
$lightgray: #EAEAEA;

$white: #FFF;
$whiteHover: #CDCBCB;

$transparent: rgba(255, 255, 255, 0.05);
$transparentHover: rgba(255, 255, 255, 0.15);

$searchPlaceholder: rgba(255, 255, 255, 0.35);

$sidebarHover: #F5F5F5;
